[user] 
	name = Jeremiah Torralba
	email = jeremiahtorralba@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[filesystem "Oracle Corporation|11.0.7|-1799728215"]
	timestampResolution = 1002 microseconds
	minRacyThreshold = 0 nanoseconds